# This file is responsible for configuring your application
# and its dependencies with the aid of the Mix.Config module.
use Mix.Config

config :advent_of_code,
session: "<session cookie goes here>",
cache_dir: ".cache/"
